{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert"> {{ message }}
        <strong>Holy guacamole!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor%}  

{% if name %}
     <h1> User Added: </h1>
     <br><br><br>
{% for our_user in our_users %}
<tr>
    <td>{{ our_user.id }}. <a href="{{ url_for('update', id=our_user.id)}}">{{ our_user.name }}</a> - {{ our_user.email }} </td>
</tr>
{% endfor %}

{% else %}
    <h1> User List </h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded"> 
        <form method="POST">
            <div class="mb-3">
                <label for="exampleInputName" class="form-label"> Name </label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                <div id="nameHelp" class="form-text"> Insert your name </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label"> Email </label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"> Insert your email </div>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
            <!-- {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            <br>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            <br>
            {{ form.submit(class="btn btn-secondary") }} -->
        </form>
    </div>

<br><br><br>

{% for our_user in our_users %}
<tr>
    <td>{{ our_user.id }}. <a href="{{ url_for('update',id=our_user.id)}}">{{ our_user.name }}</a> - {{ our_user.email }} </td>
</tr>
{% endfor %}

{% endif %}

{% endblock %}