{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert"> {{ message }}
        <strong>Holy guacamole!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor%}

{% if name %}
     <h1> Hello {{ name }} </h1>

     <script src="{{ url_for('static', filename='js/myfile.js') }}"></script>

{% else %}
    <h1> What Is Your Name? </h1>
    <br>
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name() }}
        <br>
        {{ form.submit() }}
        
            <!-- <div class="mb-3">
              <label for="exampleInputName" class="form-label"> Name </label>
              <input type="text" class="form-control" id="exampleInputName" aria-describedby="emailHelp">
              <div id="nameHelp" class="form-text"> Insert your name </div>
            </div>
            
            <button type="submit" class="btn btn-secondary">Submit</button> -->
        
    </form>

{% endif %}

{% endblock %}