{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-dark alert-dismissible fade show" role="alert"> {{ message }}
        <strong>Holy guacamole!</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    
{% endfor%}  

{% if name %}
     <h1> Update User: </h1>
     <br><br><br>

{% for our_user in our_users %}
    <tr>
        <td>{{ our_user.id }}. {{ our_user.name }} - {{ our_user.email }} </td>
    </tr>
     
{% endfor %}

{% else %}
    <h1> Update user </h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body rounded"> 
        <form action="/update/{{ name_to_update.id }}" method="POST">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label", value=name_to_update.name) }}

            {{ form.name(class="form-control") }}
            <br>
            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control", value=name_to_update.name) }}
            <br>
            {{ form.submit(class="btn btn-secondary") }}
            
        </form>
    </div>

<br><br><br>

{% endif %}

{% endblock %}


 <!-- <div class="mb-3">
                <label for="exampleInputName" class="form-label"> Name </label>
                <input type="text" class="form-control" id="exampleInputName" aria-describedby="nameHelp">
                <div id="nameHelp" class="form-text"> Insert your name </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail" class="form-label"> Email </label>
                <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text"> Insert your email </div>
            </div>
            <button type="submit" class="btn btn-secondary">Submit</button>
             -->